/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
*.swp

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store
.terraform/

*.orig

/static/dev
/static/development
/static/release
/private
